@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  background-color: #fdfdfd;
}
header {
  font-family: "Poppins";
  font-size: 5rem;
  position: relative;
  color: #e672c3;
}
header::before {
  content: "Casino";
  position: absolute;
  font-size: 12rem;
  bottom: 0.1em;
  right: 0;
  left: -1em;
  color: #68a4e9e8;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3em;
}
.wrapper:hover > :not(:hover) {
  filter: hue-rotate(690deg) blur(2px);
}
.item:hover {
  filter: drop-shadow(0px 3px 24px rgba(176, 179, 177, 0.362));
  transform: translateY(-30px) scale(1.1);
  /* animation: flicker 700ms ease-in-out alternate 300ms; */
}
.item {
  filter: hue-rotate(690deg);

  /* background-color: #2b2b2b; */
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: monospace;
  font-size: 3rem;
  padding: 2.3em;
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 100ms ease-in-out;
}
@keyframes flicker {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
.item:nth-child(1) {
  background-image: url("/images/betting.png");
}
.item:nth-child(2) {
  background-image: url("/images/casino.png");
}
.item:nth-child(3) {
  background-image: url("/images/dice.png");
}
.item:nth-child(4) {
  background-image: url("/images/gambling.png");
}
.item:nth-child(5) {
  background-image: url("/images/slot-machine.png");
}
.item:nth-child(6) {
  background-image: url("/images/poker-chip.png");
}
.bar {
  width: 30%;
  height: 35px;
  border: 4.2px solid #f1f1f1;
  box-shadow: 0px 10px 30px rgb(217, 217, 217);
  background-color: #d5d5d57b;
  border-radius: 6px;
  position: relative;
  display: flex;
  justify-content: center;
}
@keyframes bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.inside-bar {
  height: 31.5px;
  position: absolute;
  left: -0.8px;
  right: 0;
  bottom: 0;
  top: -1.3px;
  z-index: -999;
  background: linear-gradient(
    45deg,
    rgba(118, 172, 235, 1) 0%,
    rgba(230, 114, 195, 1) 100%
  );
  border-radius: 6px;
  animation: bar 1.5s alternate infinite ease-in-out;
}
.secret-msg {
  font-family: "Poppins";
  color: #eaeaea;
}
