
C (Haim)/TestTestC/.vs/TestTestC/v17/Browse.VC.db
C (Haim)/TestTestC/.vs/TestTestC/FileContentIndex/ae47a7de-86f8-4a88-bdcf-7eb416251c93.vsidx
C (Haim)/TestTestC/.vs/TestTestC/FileContentIndex/d6a3eaf3-9325-4b57-96eb-bfe89e628195.vsidx
C (Haim)/TestTestC/.vs/TestTestC/v17/Browse.VC.db-shm
C (Haim)/TestTestC/.vs/TestTestC/v17/Browse.VC.db-wal
C (Haim)/TestTestC/.vs/TestTestC/v17/Browse.VC.opendb
C (Haim)/TestTestC/TestTestC.sln
C (Haim)/TestTestC/.vs/TestTestC/FileContentIndex/2e724b92-c5ae-48aa-b710-9fbeb853fe18.vsidx
