
C (Haim)/TestTestC/.vs/TestTestC/v17/Browse.VC.db
C (Haim)/TestTestC/.vs/TestTestC/FileContentIndex/ae47a7de-86f8-4a88-bdcf-7eb416251c93.vsidx
C (Haim)/TestTestC/.vs/TestTestC/FileContentIndex/d6a3eaf3-9325-4b57-96eb-bfe89e628195.vsidx
C (Haim)/TestTestC/.vs/TestTestC/v17/Browse.VC.db-shm
C (Haim)/TestTestC/.vs/TestTestC/v17/Browse.VC.db-wal
C (Haim)/TestTestC/.vs/TestTestC/v17/Browse.VC.opendb
C (Haim)/TestTestC/TestTestC.sln
C (Haim)/TestTestC/.vs/TestTestC/FileContentIndex/2e724b92-c5ae-48aa-b710-9fbeb853fe18.vsidx
C (Haim)/TestTestC/.vs/TestTestC/v17/DocumentLayout.backup.json
C (Haim)/TestTestC/.vs/TestTestC/v17/DocumentLayout.json
C (Haim)/TestTestC/TestTestC/TestTestC.vcxproj
C (Haim)/TestTestC/TestTestC/TestTestC.vcxproj.filters
C (Haim)/TestTestC/TestTestC/x64/Debug/test.obj
C (Haim)/TestTestC/TestTestC/x64/Debug/TestTestC.exe.recipe
C (Haim)/TestTestC/TestTestC/x64/Debug/TestTestC.ilk
C (Haim)/TestTestC/TestTestC/x64/Debug/TestTestC.log
C (Haim)/TestTestC/TestTestC/x64/Debug/TestTestC.tlog/CL.command.1.tlog
C (Haim)/TestTestC/TestTestC/x64/Debug/TestTestC.tlog/Cl.items.tlog
C (Haim)/TestTestC/TestTestC/x64/Debug/TestTestC.tlog/CL.read.1.tlog
C (Haim)/TestTestC/TestTestC/x64/Debug/TestTestC.tlog/CL.write.1.tlog
C (Haim)/TestTestC/TestTestC/x64/Debug/TestTestC.tlog/link.command.1.tlog
C (Haim)/TestTestC/TestTestC/x64/Debug/TestTestC.tlog/link.read.1.tlog
C (Haim)/TestTestC/TestTestC/x64/Debug/TestTestC.tlog/link.secondary.1.tlog
C (Haim)/TestTestC/TestTestC/x64/Debug/TestTestC.tlog/link.write.1.tlog
C (Haim)/TestTestC/x64/Debug/TestTestC.pdb
C (Haim)/TestTestC/x64/Debug/TestTestC.exe
C (Haim)/TestTestC/TestTestC/x64/Debug/vc143.pdb
C (Haim)/TestTestC/TestTestC/x64/Debug/vc143.idb
C (Haim)/TestTestC/TestTestC/x64/Debug/TestTestC.tlog/TestTestC.lastbuildstate
C (Haim)/TestTestC/.vs/TestTestC/FileContentIndex/f9834c92-01e4-49a3-8161-0751e8eb01cc.vsidx
C (Haim)/TestTestC/.vs/TestTestC/v17/.suo
