* {
    box-sizing: border-box;
}

body {
    background: url(images/bg_image.jpg);
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: end;

}

.container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Geneva, Tahoma, sans-serif;
}

legend {
    font-size: 4em;
    align-items: center;
    margin-bottom: 40px;
    color: #ffffff;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: 0px;
    font-size: 1.1em;
}

.submit {
    margin-top: 10px;
}

label {}

input {
    /* width: 160px; */
    margin-bottom: 10px;
    margin-top: 5px;
}