* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #323437;
  font-family: Vazirmatn, monospace, "Roboto Mono";
}

.statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.accuracy,
.wpm {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 7em;
  color: #f0d227;
}
