* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  background-color: #323437;
  font-family: Vazirmatn, monospace, "Roboto Mono";
}
.nav-cont {
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.logo {
  width: 250px;
}
.center-cont {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-cont {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.wordCounter {
  width: fit-content;
  font-size: 2.7em;
  color: #f0d227;
  visibility: hidden;
}
.content {
  flex-basis: content;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  font-size: 3rem;
}
.word {
  margin: 0.2em 0 0 0;
  outline: 2px solid #323437;
}
.letter {
  position: relative;
  color: #646669;
}
.caret {
  position: absolute;
  width: 4px;
  height: 56px;
  left: 0;
  top: 0;
  background-color: #ddc828;
  border-radius: 4px;
  animation: caretAnimate 600ms ease-in-out infinite alternate;
}
@keyframes caretAnimate {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.buttom-cont {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  font-size: 3rem;
  font-family: Verdana, sans-serif;
  color: #b3b3b3;
  font-weight: 350;
}
.info img {
  width: 1.2em;
}
.info div {
  height: fit-content;
}
/* .buttom-cont,
.content-cont,
.nav-cont,
.content {
  border: 2px solid;
} */
