* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  font-family: "Roboto Monso", "Roboto Mono", Vazirmatn, monospace;
}
.nav-cont {
  height: 20%;
}
.content-cont {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.content {
  flex-basis: auto;
  margin: 0 5em 0;
  display: flex;
  flex-wrap: wrap;
}
.word {
  font-size: 2rem;
  margin-right: 0.5em;
}
.startBtn {
}
.buttom-cont {
  height: 20%;
}
.buttom-cont,
.content-cont,
.nav-cont,
.content {
  border: 2px solid;
}
