* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 50%;
  height: 50%;
  border: 2px solid;
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: 25%;
  height: 33.333%;
  border: 10px solid;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}
.b {
  color: black;
  background-color: #ffffff;
}
.a {
  color: #ffffff;
  background-color: black;
}
