@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
}

.clock {
  font-size: 4rem;
}

.popup {
  position: absolute;
  display: none; /*flex normally*/
  background-image: url("https://i.pcmag.com/imagery/roundups/00rnE6VsEk5ZH4sev9S1lu2-3..v1728564592.jpg");
  background-size: contain;
  width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 10px;
  justify-content: center;
  align-items: flex-end;
  z-index: 999;
}

.btn-close {
  width: 50px;
  height: 20px;
  background-color: #aa374e;
  border: 2px solid #6d1724;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  user-select: none;
  margin-bottom: 12px;
  color: #081a26;
}

.btn-close:hover {
  cursor: pointer;
  background-color: #9e344a;
  border: 2px solid #6d1724;
}

.btn-close:active {
  background-color: #6d1724;
  border: 2px solid #9e344a;
  color: #9e344a;
}
.open-animation {
  animation: openAnimation 1s ease-in 1;
}
@keyframes openAnimation {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 300px;
    width: 300px;
  }
}
