@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-color: white;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5em;
  background-color: var(--bg-color);
  font-family: "Poppins";
}

.hangman-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5em;
}

.hangman {
  background-image: url("/images/8.svg");
  background-size: contain;
  width: 250px;
  height: 250px;
}

.word {
  display: flex;
  column-gap: 1.2em;
  font-size: 2.5rem;
}

.letter {
  width: 1.3em;
  height: 1.5em;
  text-align: center;
  border-bottom: 2px solid black;
  text-transform: uppercase;
}

.msg {
  display: none;
  font-size: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-family: "Poppins";
}

.input-cont {
  position: relative;
  width: 300px;
  display: flex;
  padding: 0.6em 1em;
  border: 1px solid rgba(63, 63, 63, 0.644);
  border-radius: 10px;
  font-size: 1.2rem;
}

.login-input {
  background-color: transparent;
  width: 100%;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

@keyframes label_animation {
  0% {
  }
  100% {
    bottom: 78%;
    background-color: var(--bg-color);
    padding: 0 0.2em;
    z-index: 10;
    transform: scale(0.9);
  }
}

.login-input:focus-visible {
  outline: none;
}

.label {
  position: absolute;
  user-select: none;
  color: #1b1b1b85;
  z-index: -10;
  transition: 0.3s;
  bottom: 25%;
}
