body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    background: url('/images/ron.jpg');
    background-repeat: round;
    color: aliceblue;
}

h1 {
    font-size: 3em;
}
circle{
    border-radius: 50%;
    background-color: cadetblue;
}